.comments-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
    padding-bottom: 6%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.comments-list {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
}

.comment-card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.comment-card p {
    margin: 0;
}

.comment-date {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    color: #888;
}

.add-comment-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    padding: 10px 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
}

.comment-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.add-comment-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-comment-button:hover {
    background-color: #218838;
}
